# Server PORT
PORT=8082

# Database Connection String
MONGODB_URL=mongodb://localhost:27017/stock-api-platform

# Super Admin Password
SUPER_ADMIN_PASS="Super@123"

# JWT SECRET for generating tokens
JWT_SECRET=4158bd692d7a92ebc226da39f789956d281e4b84965ae9a317e6e7816a74e7fd

# Google Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_secret
GOOGLE_CALLBACK_URL=http://localhost:8082/google/callback

# Github Credentials
GIHUB_CLIENT_ID=your_github_id
GIHUB_CLIENT_SECRET=your_github_secret
GIHUB_CALLBACK_URL=http://localhost:8082/github/callback

# STOCK APIs
STOCK_API_1=https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TSLA&apikey=YOUR_API_KEY
STOCK_API_2=https://api.twelvedata.com/time_series?symbol=GOOGL&interval=1min&apikey=c0bcbbab5d114829971a28296c37e990
STOCK_API_3=https://api.coingecko.com/api/v3/coins/bitcoin

# BACKEND_BASE_URL
BACKEND_BASE_URL=http://localhost:8082

# Stripe Keys
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_SUCCESS_URL="http://localhost:8082/api/v1/user/subscription/success?success=true&session_id={CHECKOUT_SESSION_ID}"
STRIPE_CANCEL_URL="http://localhost:8082/api/v1/user/subscription/cancel?canceled=true"
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret